@use 'base';

canvas {
  border: 2px solid steelblue;
}

.toolbox {
  display: flex;
  width: 804px;
  padding: 1rem;
  background: steelblue;
  border: 1px solid slateblue;
  > * {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0.25rem;
    height: 0.25rem;
    width: 50px;
    height: 50px;
    background: #fff;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    &:last-child {
      margin-left: auto;
    }
  }
}
